@import "../../css/colors.scss";

.MobileMenu_wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.MobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 100vw;
  padding: 15px 0px;
  margin-right: 100vw;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-left: 25px;
  z-index: 1;
  align-items: center;

  &.open {
    margin-left: 0;
    background: $color-footer-bg;

    & a {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: $color-grey-xlight;
    }

    & a:first-of-type {
      margin-top: 75px;
    }
  }
}

@media screen and (min-width: 768px) {
  .MobileMenu_wrapper {
    display: none;
  }
}
