@import "../../css/colors.scss";

.SideNavigation {
  width: 200px;
  & ul {
    list-style: none;
    margin-top: 50px;

    & li a {
      color: $color-primary;
      font-size: 14px;
      margin-top: 10px;

      &:hover {
        color: darken($color-tert, 10);
      }
    }

    & .Navigation_header {
      font-weight: 500;
      font-size: 16px;
    }

    & .Navigation_header:not(:first-of-type) {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .SideNavigation {
    display: none;
  }
}
