@import "../../css/colors.scss";

.Hero_wrapper {
  position: relative;
  width: 100vw;
  padding: 0px 20px;
  background: $color-bg-light;

  & .SubText {
    max-width: 600px;
  }

  &.pri {
    background: $color-primary;
  }

  &.full {
    height: 100vh;
  }

  &.half {
    min-height: 45vh;
  }

  &.quarter {
    min-height: 25vh;
    padding-top: 25px;
  }

  & .centered h1 {
    color: white;
    text-align: center;
  }

  & .centered {
    padding-bottom: 50px;
  }

  & .HomePageHero_wrapper {
    padding: 50px 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;

    & h1 {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    & hr {
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .Hero_wrapper h1 {
    font-size: 2.5rem;
  }
}
