@import "../../css/colors.scss";

.Aside {
  padding-left: 10px;
  margin: 50px auto;
  border-left: 3px solid $color-tert;
  line-height: 2rem;
  color: $color-primary;
  font-size: 2rem;
  font-weight: bold;

  & span {
    font-size: 14px;
    display: block;
    color: $color-text;
  }
}

@media only screen and (max-width: 480px) {
  .Aside {
    max-width: 100%;
  }
}
