@import "../../css/colors.scss";

.Aside {
  padding-left: 20px;
  max-width: 600px;
  margin: 50px auto;
  border-left: 2px solid $color-accent;
  line-height: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .Aside {
    max-width: 100%;
  }
}
