@import "../../css/colors.scss";

.HomePageHero_wrapper {
  position: relative;
  padding: 50px 20px;
  height: calc(100vh - 62px);
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  & h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  & hr {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  @keyframes MoveUpDown {
    0% {
      bottom: 20px;
    }

    50% {
      bottom: 25px;
    }

    100% {
      bottom: 30px;
    }
  }

  .Icon_absolute_center {
    position: absolute;
    bottom: 20px;
    left: 50%;
    animation: MoveUpDown 1s ease-in-out infinite;
    animation-direction: alternate;
    & svg {
      height: 50px;
      fill: $color-primary;
    }
  }
}

@media screen and (max-width: 480px) {
  .HomePageHero_wrapper {
    grid-template-columns: 1fr;
    & p {
      text-align: justify;
    }
  }
}
