@import "../../css/colors.scss";

.Logo {
  border: none;
  margin: 0px;
  padding: 0px;
}

.Logo_wrapper {
  & img {
    align-self: center;
    width: 100%;
    margin: 0px;
    max-width: 125px;
  }
}
