@import "../../css/colors.scss";

$card-border-radius: 12px;

.Card {
  background: white;
  border-radius: $card-border-radius;
  box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: $color-grey-dark;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  & p {
    margin-bottom: 25px;
  }

  .Card_subtitle {
    color: lighten($color-grey-dark, 30);
    font-weight: 400;
    margin: 0px;
    margin-bottom: 20px;
  }

  & .Card_link {
    margin-top: auto;
    color: $color-primary;

    &:hover {
      color: $color-secondary;
    }
  }

  & .Card_Title {
    margin: 0px;
    margin-bottom: 25px;
  }

  & .Card_footer {
    margin-top: auto;
    padding: 0px 20px;
    padding-bottom: 25px;
  }

  & .Card_Content {
    padding: 25px 20px;
    height: 100%;
  }

  & .Card_HeaderImage {
    img {
      border-radius: $card-border-radius $card-border-radius 0 0;
    }
  }
}
