@import "../../css/colors.scss";

.Navigation_Wrapper {
  width: 100vw;
  padding-top: 10px;
  left: 0;
  right: 0;
  padding: 15px 0px;
  // max-width: 1200px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  margin: 0 auto;
  border-top: 6px solid $color-primary;

  & ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    align-items: center;

    & li {
      padding: 0px 15px;
      margin: 0px;

      & a {
        color: $color-text-header;
        font-weight: bold;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.Navigtion_content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  & img {
    align-self: center;
  }
}

.DropdownMenu {
  & button {
    display: flex;
    position: relative;
    font-weight: bold;
    color: $color-text-header;
    font-size: 16px;
    border: none;
    margin: 0px;
    padding: 0px;
    transition: all 0.3s ease;

    &.is_open {
      padding-bottom: 10px;
    }

    &:active,
    &:focus {
      outline: none;
      border: none;
    }

    & svg {
      margin-left: 5px;
    }

    &:hover {
      cursor: pointer;
    }

    & .Dropdown_container {
      opacity: 0;
      transform: scaleY(0);
      position: absolute;
      top: 30px;
      background: white;
      padding: 0 15px;
      border-radius: 6px;
      transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
      transform-origin: top;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

      & a {
        margin: 15px 0px;
        color: $color-grey-dark;
        white-space: nowrap;
        font-weight: 500;

        &:hover {
          color: darken($color-grey-dark, 20);
          color: $color-tert;
          padding-bottom: 0px;
        }
      }

      &.is_open {
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .Navigtion_content {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .Navigation_Wrapper ul {
    display: none;
  }

  .Navigation_CTA {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile_only {
    display: none;
  }
}
