@import "../colors.scss";

.Content {
  .Cards_people {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    & > div {
      margin: 10px;
      flex-basis: 250px;
      max-width: 300px;
      flex-shrink: 1;
    }
  }

  & .Aside_about {
    max-width: 600px;
  }
}
