@import "../colors.scss";

.Blog_post_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  grid-auto-rows: 1fr;

  .Excerpt {
    color: $color-text;
  }

  .Author {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
  }

  .Post {
    position: relative;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    height: 100%;

    & h2 {
      margin-top: 0px;
    }

    &:first-of-type {
      h2 {
        margin-top: 0px;
      }
    }

    &::after {
      opacity: 1;
    }
  }

  .Post:hover {
    cursor: pointer;

    & h2 {
      color: $color-tert;
    }
  }

  .Tags {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    & span {
      font-size: 12px;
      margin-left: 4px;

      &:not(:last-of-type)::after {
        content: "\B7";
        margin-left: 4px;
      }
    }
    & svg {
      fill: $color-tert;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;

    & footer {
      margin-top: auto;

      & span {
        font-size: 12px;
        color: lighten($color-grey-dark, 20);

        &.Divider {
          margin: 0px 4px;
        }
      }
    }
  }
}

.FilterControls {
  .FilterControls_search {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-start;

    & svg {
      margin-right: 10px;
      fill: $color-primary;
    }

    input {
      border: 2px solid $color-primary;
      border-radius: 10px;
      padding: 10px 10px;
      width: 300px;
    }
  }
}
