@import "../colors.scss";

.Resume_top {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  & .Profile_image {
    height: 300px;
    border-radius: 4px;

    & img {
      height: 100%;
    }
  }

  & .Header_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }

  & .Name {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 3rem;
  }

  & .Title {
    color: lighten($color-grey-dark, 20);
    margin-top: 10px;
    margin-bottom: 20px;
  }

  & .Resources {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & .SocialMedia {
      display: flex;

      & a {
        margin-right: 0px;
      }

      & svg {
        margin-right: 10px;
        margin-left: 0px;
        height: 100%;
        width: 25px;
      }
    }
  }
}

.JobTitle:not(:last-of-type)::after {
  content: "|";
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
