@import "../../css/colors.scss";

.ContactForm {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  &.light {
    color: white;

    input {
      border-color: white;
      // border-bottom-right-radius: white;
    }

    textarea {
      border-color: white;
      color: white;
    }

    input,
    textarea::placeholder {
      color: white;
    }

    h4 {
      color: white;
    }

    label {
      color: white;
      border: 0px;
      font-size: 18px;
    }
  }

  label {
    color: $color-text;
    border: 0px;
    font-size: 18px;
  }

  &.miniForm {
    margin: 0;

    h4 {
      margin: 0;
      margin-bottom: 10px;
    }

    textarea {
      height: 100px !important;
    }
  }

  input {
    width: 100%;
  }

  .ContactForm_textarea {
    grid-column: 1 / 3;

    textarea {
      width: 100%;
      height: 125px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .ContactForm {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 25px;
    }

    textarea {
      margin-bottom: 25px;
    }
  }
}
