.ContactForm {
  // background: dodgerblue;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  &.miniForm {
    margin: 0;

    h4 {
      margin: 0;
      margin-bottom: 10px;
    }

    textarea {
      height: 100px !important;
    }
  }

  input {
    width: 100%;
  }

  .ContactForm_textarea {
    grid-column: 1 / 3;
    // background: red;

    textarea {
      width: 100%;
      height: 125px;
    }
  }
}
