@import "../../css/colors.scss";

.Tech_stack {
  text-align: center;
  padding: 0 20px;

  h1 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
  }
}

.Tech_stack > div {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  justify-content: center;

  .iconCard {
    margin: 10px 10px;
  }

  & > div {
    width: 100px;
    padding: 20px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 12px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;

    p {
      font-size: 14px;
      white-space: nowrap;
      margin: 0px;
      margin-top: 10px;
      color: darken($color-grey-xlight, 40);
    }

    // color: red;
  }
}
@media only screen and (max-width: 400px) {
  .Tech_stack > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
