@import "../css/colors.scss";

.Services_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  grid-gap: 2rem;
  margin-top: -75px;
  justify-content: center;
}

.Service {
  background: white;
  border-radius: 12px;
  padding: 30px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: $color-grey-dark;
  transition: all 0.3s ease-in-out;

  &:nth-child(1) a {
    color: $color-primary;
  }

  &:nth-child(2) a {
    color: $color-accent;
  }

  &:nth-child(3) a {
    color: $color-tert;
  }

  & h4 {
    margin-top: 20px;
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.Homepage_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-template-rows: auto;
  margin-top: 100px;
}

.Homepage_section:nth-child(2) .svg_wrapper {
  background: url("../assets/design_illustration.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.Homepage_section:nth-child(3) .svg_wrapper {
  background: url("../assets/person_illustration.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.MeetTheTeam {
  text-align: center;
  margin-top: 100px;

  p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }
  img {
    height: 300px;
    width: auto;
  }
}

@media only screen and (max-width: 750px) {
  .Services_container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .Homepage_section {
    grid-template-columns: 1fr;
  }

  .svg_wrapper {
    display: none;
  }
}
