@import "../css/colors.scss";

.Services_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  margin: 0 auto;
  grid-gap: 2rem;
  margin-top: -75px;
  justify-content: center;
}

.Service {
  background: white;
  border-radius: 12px;
  padding: 30px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: $color-grey-dark;

  &:nth-child(1) a {
    color: $color-primary;
  }

  &:nth-child(2) a {
    color: $color-accent;
  }

  &:nth-child(3) a {
    color: $color-tert;
  }

  & h4 {
    margin-top: 20px;
  }
}

.Homepage_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-template-rows: auto;
  margin-top: 100px;
}

.Homepage_section:nth-child(2) .svg_wrapper {
  background: url("../assets/design_illustration.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Homepage_section:nth-child(3) .svg_wrapper {
  background: url("../assets/person_illustration.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Tech_stack {
  margin-top: 150px;
  text-align: center;

  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
}

.Tech_stack > div {
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  border-radius: 12px;
  grid-gap: 2rem;
  justify-content: center;

  & > div {
    width: 100px;
    padding: 20px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 12px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 14px;
      white-space: nowrap;
      margin: 0px;
      margin-top: 10px;
      color: darken($color-grey-xlight, 40);
    }

    // color: red;
  }
}
