@import "../css/colors.scss";

.Layout_container {
  position: relative;

  &.showSideNav {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}

// When the screen is smaller than 550px
@media only screen and (max-width: 550px) {
  .showSideNav {
    display: block;
  }
}
