@import "../../css/colors.scss";

.Footer_wrapper {
  background: rgb(27, 27, 27);
}

.Footer {
  width: 100vw;
  max-width: 1200px;
  background: rgb(27, 27, 27);
  padding: 20px 20px;
  margin-top: 100px;
  color: $color-grey-xlight;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  overflow: hidden;
  justify-content: center;
  margin: 0 auto;

  & h1 {
    color: white;
  }

  .NavigationLinks {
    min-height: 368px;
    display: inline-grid;
    grid-gap: 3rem;
    grid-template-columns: min-content min-content;
    margin-top: 81px;
    justify-content: center;

    & ul {
      list-style: none;
      margin-left: 0px;
    }
    a {
      margin-bottom: 20px;
      font-size: 16px;
      color: $color-grey-xlight;
      font-weight: bold;
      white-space: nowrap;
    }

    h3 {
      margin-top: 0px;
      color: white;
      border-bottom: 2px solid $color-primary;
    }

    .socialMediaIcons {
      font-size: 36px;
      color: $color-accent;
    }

    .socialMediaIcons svg {
      margin-right: 10px;
    }
  }
}

.copyright {
  background: rgb(27, 27, 27);
  text-align: center;
  font-weight: 100;

  p {
    margin: 0px;
    padding: 4px;
    color: $color-grey-xlight;
    font-size: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .Footer {
    grid-template-columns: 1fr;
  }
}
